/*
* @Author: Zichen Gao
* @Date:   2018-08-13 22:20:05
* @Last Modified by:   Zichen Gao
* @Last Modified time: 2018-08-16 23:00:18
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background-color: #ff8124;
	padding-top: 0.17rem;
}

header .container{
	width: 7.02rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	position: relative;
}
header .container .icon-arrow-left-copy-copy-copy{
	width: 0.4rem;
    height: 100%;
    font-size: 0.4rem;
    color: white;
}
header .container .title{
	font-size: 0.4rem;
	color: #ffad7f;
	margin-left: 1.58rem;
	margin-top: 0.16rem;
}
header .container .text{
	font-size: 0.5rem;
	position: absolute;
	left: 2.64rem;
	color: white;
}
.top{
	width: 6.16rem;
	height: 1.14rem;
	background-color: #ff8124;
	color: white;
	border-radius: 0.2rem;
	margin-left: 0.77rem;
	margin-top: 0.38rem;
	display: flex;
	flex-direction: row;
}
.top .icon-zhongguojiansheyinhang{
	margin-left:  0.34rem;
	margin-top: 0.14rem;
	font-size: 0.8rem;
}
.top .wenzi{
	margin-left: 0.28rem;
	margin-top: 0.18rem;
}
.top .wenzi .yinhang{
	font-size: 0.36rem;
	color: white;
}
.top .wenzi .kahao{
	font-size: 0.36rem;
	color: white;
}
.money{
	margin-top: 0.46rem;
	margin-left: 2.62rem;
	display: flex;
	flex-direction: row;
}
.money .RMB{
	color: red;
	font-size: 0.44rem;
	text-align: center;
	margin-top: 0.26rem;
}
.money .number{
	color: red;
	font-size: 0.7rem;
	text-align: center;
}
.need{
	color: red;
	font-size: 0.24rem;
	font-weight: bold;
	margin-left: 2.6rem;
	word-spacing: 0.1rem;
}	
.line{
	width: 5.66rem;
	height: 0.1rem;
	border-bottom: 0.01rem solid #ff8124;
	margin-left: 1rem;
	margin-top: 0.48rem;
}
.english{
	margin-left: 1.74rem;
	margin-top: 0.3rem;
	font-size: 0.26rem;
	font-weight: bold;
	color: #d4d4d4;
}
.chinese{
	font-size: 0.24rem;
	font-weight: bold;
	margin-left: 3rem;
	/* margin-top: 0.3rem; */
/* 	color:  */
}
.hezi{
	width: 2.98rem;
	height: 4.16rem;
	margin-left: 2.3rem;
	margin-top: 1.68rem;
	background-image: url('../img/zhiwen.png');
	background-size: cover;
	background-repeat: no-repeat;
}