/*
* @Author: Zichen Gao
* @Date:   2018-08-16 11:16:07
* @Last Modified by:   Zichen Gao
* @Last Modified time: 2018-08-16 22:50:13
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
header{
	width: 7.5rem;
	height: 13.34rem;
	background-image: url('../img/个人中心.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -0.3rem;
	position: relative;
}
header .shouye{
	width: 0.7rem;
	height: 1rem;
	position: absolute;
	left: 1rem;
	bottom: 0.06rem;
	/* background-color: red; */
}
header .dingdan{
	width: 0.7rem;
	height: 1rem;
	position: absolute;
	left: 4.2rem;
	bottom: 0.06rem;
	/* background-color: red; */
}